<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kinnect">

        <!-- Splash Launcher Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".SignUpActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".CreatePostActivity" android:exported="false" />
        <activity android:name=".PhotoPickerActivity" android:exported="false" />
        <activity android:name=".CommentsActivity" android:exported="false" />
        <activity android:name=".StoryViewerActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".EditProfileActivity" android:exported="false" />
        <activity android:name=".SearchActivity" android:exported="false" />
        <activity android:name=".ChatsActivity" android:exported="false" />
        <activity android:name=".ChatThreadActivity" android:exported="false" />
        <activity android:name=".VoiceCallActivity" android:exported="false" />
        <activity android:name=".CameraActivity" android:exported="false" />
        <activity android:name=".StoryEditorActivity" android:exported="false" />
        <activity android:name=".YourStoryActivity" android:exported="false" />
        <activity android:name=".OtherProfileActivity" android:exported="false" />
    </application>
</manifest>
